@model EatsOnAPI.Models.DayPlan

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DayPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NumberPlan" />
            <div class="form-group">
                <label asp-for="DateEating" class="control-label"></label>
                <input asp-for="DateEating" class="form-control" />
                <span asp-validation-for="DateEating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountDish" class="control-label"></label>
                <input asp-for="CountDish" class="form-control" />
                <span asp-validation-for="CountDish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamePart" class="control-label"></label>
                <input asp-for="NamePart" class="form-control" />
                <span asp-validation-for="NamePart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleDish" class="control-label"></label>
                <input asp-for="ArticleDish" class="form-control" />
                <span asp-validation-for="ArticleDish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUser" class="control-label"></label>
                <input asp-for="IdUser" class="form-control" />
                <span asp-validation-for="IdUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Delete" class="control-label"></label>
                <input asp-for="Delete" class="form-control" />
                <span asp-validation-for="Delete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
